doctype html
html(lang="en")
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject

    body
        h1 Ahoj #{login},
        h1 vítej na portálu sfinger.com. K dokončení registrace klikni na následující tlačítko:

        div(style="text-align: center;")
            a(href=link)
                div(style="background: #55ff55;color: white;text-align: center;font-weight: bold;padding: 32px;width: 640px; margin: auto; font-size: 42px;border-radius: 15px;text-decoration: none;") Dokončit registraci

        p Tým sfinger.com

