doctype html
html(lang="en")
		head
				meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
				title="Sfingee.com"

		body
				div(id="root")
				script(src="/js/app.js")
				//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUI3SkSegDQ7Ldm4HEzZCv3p41UgUxAJA&callback=initMap")