extends ../node_modules/jade-bootstrap/_bootstrap
append body
	div(id="root")
		nav(class="navbar navbar-inverse", style="margin: 0; border-radius: 0")
			div(class="container")
				div(class="navbar-header")
					a(class="navbar-brand", href="/")
						span(style="font-size: 48px; color: #FFF") Sfingee
						| .com
		.container
			.col-md-12
				h1 Ochrana soukromí
				h2 Na co se můžete spolehnout
				p Vaše údaje zpracováváme sami a v souladu se zákonem.
				p Nepožadujeme po vás více informací než je nezbytně nutné pro registraci a platební styk.
				p Nesbíráme o vás žádné informace, které byste nám sami dobrovolně neposkytli.
				p Neposkytneme vaše údaje třetí straně s výjmkou uvedenou v&nbsp;
					a(href="/termsofuse") podmínkách užití
					| .
				p Nebudeme po vás požadovat jakékoli propojení s vašimi sociálními sítěmi.
				h2 A co čekáme od vás
				p Všechny údaje poskytujete dobrovolně. Jsou pravdivé a ověřitelné. V opačném případě máme právo zrušit účet, abychom chránili ostatní uživatele.
				p Souhlasíte se zpracováním údajů, fotek i videí.
				p Jste zodpovědní za informace, fotky a videa, které nahráváte.
				p Respektujete soukromí ostatních uživatelů.
		footer(class="footer navbar-inverse", style="padding: 12px; margin: 0; border-radius: 0; color: #FFF")
			.container
				.col-md-6
					a(href="/termsofuse") Všeobecné podmínky užívání
					br
					br
					a(href="/privacypolicy") Ochrana soukromí
				.col-md-6
					| Provozovatel:
					br
					| Martin Zaražil
					br
					| IČ: 74901231
					br
					a(href="mailto:info@sfingee.com") info@sfingee.com
