extends ../node_modules/jade-bootstrap/_bootstrap
append body
		div(id="root")
				nav(class="navbar navbar-inverse", style="margin: 0; border-radius: 0")
						div(class="container")
								div(class="navbar-header")
										a(class="navbar-brand", href="/")
												span(style="font-size: 48px; color: #FFF") Sfingee
												| .com
				.container
						.col-md-12
								h1 Podmínky používání portálu Sfingee.com
								h2 Shrnutí
								p
										| Dobrý den, měli byste si přečíst tyto podmínky celé neboť platí po celou dobu co používáte Sfingee.com nebo některou ze služeb porálu.
										| Zde je krátké shrnutí několika hlavních bodů:
								ul
										li Je-li vám méně než 18 let, bohužel nemůžete portál Sfingee.com využívat.
										li Nejsme zodpovědní za nic, co zde publikujete, ale po upozornění ostatních uživatelů můžeme závadný obsah bez vašeho vědomí odstranit.
										li Pokud vás zajímá jak budete na portálu Sfingee.com chráněni, přečtěte si naši&nbsp;
												a(href="/privacypolicy") politiku soukromí.
								h2 Plné znění
								p
										| Sfingee.com je portál navržený pro setkávání, komunikaci a sdílení obsahu mezi uživateli. Jde nám o to vytvořit přátelské a hlavně bezpečné
										| prostředí pro všechny zdejší uživatele, proto vás zavazujem používat portál Sfingee.com pouze v souladu s těmito podmínkami.
								p
										| Tyto podmínky jsou právním závazkem mezi vámi jako uživatelem (dále jen "vy") a námi jako obchodním subjektem
										| zastoupeným panem Martinem Zadražilem, IČ 74901231 (dále jen "my").
								p
									| Tyto podmínky jsou pro vás závazné vždy, když využíváte portál Sfingee.com. Pokud s nimi nesouhlasíte, opusťte prosím tento portál.

								h3 Využívání portálu a umisťování obsahu
								h4 Kdo může využívat portál Sfingee.com
								p Můžete používat portál sfingee.com pokud jste registrovaným členem a bylo vám více než 18 let.
								p Zaručujete, že máte pravomoc používat portál Sfingee.com a být vázani podmínkami jeho užití a
									| že pomocí něj nebudete porušovat zákony a platné právní předpisy České Republiky.
									| Jste výhradně sami zospovědní za dodržování právního řádu České Republiky.
								h4 Jaký obsah mohu publikovat na portálu Sfingee.com
								p Můžete publikovat texty a obrázky. Existují však určité hranice toho, co je přijatelné. Nepřípustný je obsah který:
								ul
									li Je urážlivý vůči jiné osobě nebo osobám.
									li Podporuje rasismus, sexismus nenávist nebo bigotnost.
									li Podněcuje jakoukoli protiprávní činnost.
									li Týká se obchodních činností.
									li Obsahuje škodlivý software nebo odkazy na něj.
									li Obsahuje osobní údaje druhých osob nebo tyto osoby zobrazuje.
									li Porušuje právní řád České Republiky.
								p Budte-li opakovaně publikovat závadný obsah, může dojít bez náhrady ke zrušení vašeho účtu na portálu Sfingee.com.
								h4 Existují nějaká pravidla týkající osobních údajů?
								p Na své profilové stránce (dále jen "profil") nemusíte publikovat žádné citlivé údaje ať už ve vztahu k vám nebo k jakékoli další osobě.
									| Platební a osobní údaje , které na svůj profil vložíte slouží pouze k bankovnímu spojení mezi námi a vámi a nebudeme je za žádných okolností předávat nikam dále.
									| Rovněž nikdy nebudeme požadovat propojení vašeho profilu na portálu Sfingee.com a vašich profilů na sociálních sítích.
								h4 Kdo uvidí můj obsah?
								p Vámi publikovaný obsah uvidí všichni uživatelé portálu Sfingee.com pokud jim k němu neomezíte přístup. Přístup k obsahu můžete omezit dvojím způsobem:
								ul
									li Můžete určitý obsah zpoplatnit.
									li Můžete povolit zobrazení určitého obsahu pouze některým vámi vybraným osobám.
								p Vyhrazujeme si právo na základě vlastního uvážení a bez upozornění odstranit, omezit nebo zablokovat jakýkoli obsah,
									| který na portálu Sfingee.com publikujete aniž by vám vznikala jakákoli odpovědnost.
								p Nemáme povinnost publikovat jakýkoli obsah, který odešlete na portál Sfingee.com ani jej kontrolovat či sledovat používání portálu jeho uživateli.
								h4 Co bych měl/a ještě vědět?
								p Používáte-li portál Sfingee.com, souhlasíte s podmínkami užití a na oplátku vám nabízíme omezenou osobní nevýlučnou a nepřevoditelnou licenci k obsahu na portálu
									| Sfingee.com a jeho užívání. Vedle této licence nemáte žádné další nároky na používání tohoto portálu a jeho obsahu a je zákázano jej měnit, upravovat, kopírovat nebo vytvářet odvozená díla.
									| Porušení těchto podmínek může znamenat zrušení vašeho profilu a odstranění vašeho obsahu bez náhrady.
								h3 Vlastnictví obsahu
								h4 Pokud nahraji obsah na port8l Sfingee.com, jsem ještě jeho majitelem?
								p Ano, pokud jste právoplatným majitelem obsahu, stále vám vlastnictví zůstává.
								p Vezměte však na vědomí, že nahráním obashu na portál Sfingee.com nám zaručujete že
								ul
									li Jste výhradním autorem nebo vlastníkem tohoto obsahu a že se vzdáváte veškerých morálních práv týkajících se tohoto obsahu, včetně práva být určen jako autor obsahu.
									li Byla vám udělena licence či souhlas k publikování obsahu.
								p Vezměte prosím na vědomí, že nahráním obsahu na portál Sfingee.com nám automaticky udělí bezplatnou a trvalou licenci na užívání tohoto obsahu v jakékoli podobě.
								p Máme právo poskytnout vaši totožnost třetí osobě, která tvrdí že jakýkoliv vámi zveřejněný obsah porušuje porušuje její práva duševního vlastnictví, jejich právo na soukromí či jakýkoli právní předpis České Republiky.
								h4 Mohu použít obsah, který mi nepatří?
								p Ne. K jinému obsahu než vámi odeslanému nemáte žádná práva. Používáním portálu Sfingee.com souhlasíte s tím, že nebudete tento obsah kopírovat, upravovat, distribuovat ani publikovat a to ani jeho části.
								h3 Platby za služby
								h4 Co si mohu koupit na portálu Sfingee.com?
								p Portál Sfingee.com nabízí svým uživatelům možnost publikovat zpoplatněný obsah. Za zprostředkování a technické řešení si účtujeme poplatek 15% z ceny obsahu.
								h4 Jak mohu zpoplatnit svůj obsah?
								p Můžete zpoplatnit své vybrané fotografie nebo na svém profilu určit cenu za hodinu chatu vedeného s vámi. Pokud si ostatní uživatelé zobrazí vámi zpoplatněný obsah, automaticky se vám přičte stanovený počet kreditů.
								p Kredity můžete v nastavení vašeho profilu kdykoliv směnit na peníze v poměru 1 kredit = 1 Kč, které vám příjdou na vámi uvedený účet do dvou dnů od zadání požadavku.
								h3 Práva a povinnosti provozovatele portálu Sfingee.com
								p Máme právo kdykoliv změnit tyto podmínky.
								p Při porušení podmínek užití máme právo váš účet bez náhrady zrušit.
								p Neneseme odpovědnost za ztrátu či poškození dat nahraných na portálu Sfingee.com
								h3 Platnost podmínek
								p Tyto podmínky jsou platné od 13.7.2017

				footer(class="footer navbar-inverse", style="padding: 12px; margin: 0; border-radius: 0; color: #FFF")
						.container
								.col-md-6
										a(href="/termsofuse") Všeobecné podmínky užívání
										br
										br
										a(href="/privacypolicy") Ochrana soukromí
								.col-md-6
										| Provozovatel:
										br
										| Martin Zaražil
										br
										| IČ: 74901231
										br
										a(href="mailto:info@sfingee.com") info@sfingee.com
