
html
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		title= subject
		body
			p Ahoj,
			p našel jsem Tvůj inzerát na portálu sex-seznamka.com. Rád bych Tě jménem našeho týmu pozval na nový portál&nbsp;
				a(href="http://www.sfingee.com") Sfingee.com,
			| kde si můžeš (ale nemusíš) přivydělat smyslným chatováním, svými fotkami, domlouvat si schůzky nebo se prostě jen tak bavit.
			br
			| Zatím fungujeme v testovacím provozu, ostré spuštění očekáváme koncem srpna, proto prosím omluv případné technické nedostatky.
			p &nbsp;
			p S pozdravem
			p Martin, administrátor portálu&nbsp;
				a(href="http://www.sfingee.com") Sfingee.com